body{

margin:0;
overflow:hidden;
font-family:Arial;
}

#pager{

position:absolute;

top:30px;
right:30px;

width:280px;

background:#111;

color:white;

padding:15px;

border-left:6px solid #ff9900;

display:none;

box-shadow:0 0 20px rgba(0,0,0,.6);

}

.title{

font-size:24px;

font-weight:bold;

margin-bottom:15px;

}

#type{

font-size:22px;

font-weight:bold;

margin-bottom:10px;

}

#address{

font-size:18px;

margin-bottom:10px;

}

#priority{

color:#ff4040;

font-weight:bold;

margin-bottom:20px;

}

.accept{

text-align:center;

background:#ff9900;

padding:8px;

font-weight:bold;

}